FIREBASE_API_KEY=Api key de firebase
FIREBASE_CREDENTIALS=Credenciales de firebase (firebase_key.json)
WEATHER_API_KEY=key de OpenWeather APIs

SECRET_KEY=tu_secret_key_de_django

FIREBASE_TYPE=service_account
FIREBASE_PROJECT_ID=ID_Proyecto
FIREBASE_PRIVATE_KEY_ID=Clave_Privada_Firebase
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nPrivatekey\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-(proyecto).iam.gserviceaccount.com
FIREBASE_CLIENT_ID=ID_Cliente_Firebase
FIREBASE_AUTH_URI=https://accounts.google.com/o/oauth2/auth
FIREBASE_TOKEN_URI=https://oauth2.googleapis.com/token
FIREBASE_AUTH_PROVIDER_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
FIREBASE_CLIENT_CERT_URL=https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-(proyecto).iam.gserviceaccount.com
FIREBASE_UNIVERSE_DOMAIN=googleapis.com