{% extends 'base.html' %}

{% block content %}

<div class="auth-wrapper">

    <div class="auth-card">

        <div class="text-center mb-4">

            <h1 class="logo-title">
                TaskFlow
            </h1>

            <p class="subtitle">
                Crea una cuenta para comenzar
            </p>

        </div>

        <form method="POST">

            {% csrf_token %}

            <div class="mb-3">

                <label class="mb-2">
                    Nombre completo
                </label>

                <input
                    type="text"
                    name="name"
                    class="form-control"
                    placeholder="Juan Pérez"
                    required>

            </div>

            <div class="mb-3">

                <label class="mb-2">
                    Correo electrónico
                </label>

                <input
                    type="email"
                    name="email"
                    class="form-control"
                    placeholder="ejemplo@email.com"
                    required>

            </div>

            <div class="mb-3">

                <label class="mb-2">
                    Contraseña
                </label>

                <input
                    type="password"
                    name="password"
                    class="form-control"
                    placeholder="********"
                    required>

            </div>

            <div class="mb-4">

                <label class="mb-2">
                    Tipo de usuario
                </label>

                <select
                    name="role"
                    class="form-select">

                    <option value="usuario">
                        Usuario
                    </option>

                    <option value="admin">
                        Administrador
                    </option>

                </select>

            </div>

            <button
                class="btn btn-primary-custom w-100 mb-3">

                Crear cuenta

            </button>

            <a
                href="{% url 'login' %}"
                class="btn btn-outline-secondary w-100">

                Volver al inicio de sesión

            </a>

        </form>

    </div>

</div>

{% endblock %}